NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_VALIDATOR_1=0xYOUR_VALIDATOR_1_ADDRESS
NEXT_PUBLIC_VALIDATOR_2=0xYOUR_VALIDATOR_2_ADDRESS
NEXT_PUBLIC_VALIDATOR_3=0xYOUR_VALIDATOR_3_ADDRESS
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
