NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_VALIDATOR_1=0x3e5A32Ee5D6a32868841d4430c63c3eF73A64a2C
NEXT_PUBLIC_VALIDATOR_2=0xYOUR_VALIDATOR_2_ADDRESS
NEXT_PUBLIC_VALIDATOR_3=0xYOUR_VALIDATOR_3_ADDRESS
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
